{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VulnWatch{% endblock title %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico'%}">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.css">

  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/daisyui.css" rel="stylesheet">
{% tailwind_css %}
</head>
<body>
  <div class="navbar bg-[#C2410C] text-primary-content">
    <div class="flex shrink-0 items-center">
          <img src="{% static 'images/cw_logo_trans.png' %}" alt="vulnwatch_logo" class="h-25 w-auto" />
    </div>
    <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
        {% url 'home' as home_url%}
        {% if request.path != home_url %}
          <li><a href="{%url 'home'%}">Home</a></li>
        {% endif %}
        <li>
          {% comment %} <details>
            <summary>Parent</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a>Link 1</a></li>
              <li><a>About Us</a></li>
            </ul>
          </details> {% endcomment %}
        </li>
      </ul>
    </div>
  </div>

  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6">
      {% block content %}
      {% endblock content %}
  </main>
  <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.3.8/js/dataTables.min.js"></script>
  {% block scripts %}{% endblock scripts %}
</body>
</html>
