{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block content %}
<div class="header">

</div>
  <h1 class="font-extrabold tracking-[-0.04em] text-[64px] text-black">VulnWatch</h1>
  <p class="text-xs font-bold tracking-[0.45em] uppercase text-black mb-5">Real-time critical vulnerability intelligence — automated daily from NVD and CVE.org.</p>

  <div class="flex justify-center mb-6">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-8 w-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Vulnerabilities</div>
        <div class="stat-value">{{stats.total}}</div>
        <div class="stat-desc">tracked in VulnWatch</div>
      </div>

      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-8 w-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Critical Vulnerabilities</div>
        <div class="stat-value">{{stats.critical_count}}</div>
        <div class="stat-desc">CVSS Score > 9.0 </div>
      </div>

      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-8 w-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Avg CVSS Score</div>
        <div class="stat-value">{{stats.avg_cvss|floatformat:1}}</div>
        <div class="stat-desc"> Past 7 days </div>
      </div>
    </div>

  </div>

  <div class="overflow-x-auto">
    <table id="VulnerabilitiesTable" class="hover">
      <!-- head -->
      <thead>
        <tr>
          <th>CVE</th>
          <th>CVSS Score</th>
          <th>Title</th>
          <th>Description</th>
          <th>Published Date</th>
          <th>Last Modified Date</th>
          <th>Source</th>

        </tr>
      </thead>
      <tbody>
        {% for v in vulnerabilities %}
        <tr>
          <td>{{v.cve_id}}</td>
          <td>{{v.cvss_score}}</td>
          <td>{{v.title}}</td>
          <td>{{v.description}}</td>
          <td>{{v.published_date}}</td>
          <td>{{v.last_modification_date}}</td>
          <td>{{v.source}}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  {% comment %} <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>CVE</th>
          <th>CVSS Score</th>
          <th>Title</th>
          <th>Description</th>
          <th>Published Date</th>
          <th>Last Modified Date</th>
          <th>Source</th>

        </tr>
      </thead>
      <tbody>
        {% for v in page_obj  %}
        <tr>
          <td>{{v.cve_id}}</td>
          <td>{{v.cvss_score}}</td>
          <td>{{v.title}}</td>
          <td>{{v.description}}</td>
          <td>{{v.published_date}}</td>
          <td>{{v.last_modification_date}}</td>
          <td>{{v.source}}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> {% endcomment %}

  {% comment %} <div class="join">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn">«</a>
      {% else %}
          <button class="join-item btn btn-disabled">«</button>
      {% endif %}

      <button class="join-item btn">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </button>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">»</a>
      {% else %}
          <button class="join-item btn btn-disabled">»</button>
      {% endif %}
  </div> {% endcomment %}
  <footer class="footer footer-center p-4 bg-base-300 text-base-content mt-8">
    <p class="text-sm">
        Engineered by <a href="https://github.com/version-laa" class="link">Latoya A</a>

    </p>
</footer>

{% block scripts %}
<script>
        $(document).ready(function() {
            $('#VulnerabilitiesTable').DataTable();
        });
</script>
{% endblock scripts %}
{% endblock content %}
